# Logs
logs
*.log
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Coverage
coverage/

# Transpiled files
dist/
build/

# VS Code
.vscode
!.vscode/tasks.js

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local