@import "~bpk-stylesheets/index";

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $bpk-color-gray-50;
  border: 0;
  padding: .7rem;
}