@import "~bpk-stylesheets/index";

.Article {
  height: 100%;
}

.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: $bpk-color-gray-50;
  border: 0;
  padding: 5rem 0;

  &__text {
    font-size: $bpk-text-lg-font-size;
  }
}