@import "~bpk-stylesheets/index";

.Filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0;
  box-shadow: none;

  &__filter {
    display: flex;
    width: 80px;
    padding: .8rem .6rem;
  }

  &__sort {
    display: flex;
    width: 80px;
    padding: .8rem .6rem;
  }

  &__gap {
    display: flex;
    flex: 1;
  }

  &__alert {
    justify-content: flex-end;
    display: flex;
    width: 150px;
    padding: .8rem .6rem;

    &__icon {
      fill: $bpk-color-blue-500;
    }
  }
}