@import "~bpk-stylesheets/index";

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bpk-color-blue-500;
  border: 0;
  height: 100px;
  box-shadow: none;

  &__title {
    display: flex;
    align-self: flex-start;
    color: $bpk-color-white;
    font-size: $bpk-text-xxl-font-size;
    padding: 0 0 0 .6rem;
  }

  &__arrow {
    fill: $bpk-color-white;
    margin: 0 5px;
  }

  &__subTitle {
    display: flex;
    align-self: flex-start;
    color: $bpk-color-white;
    font-size: $bpk-text-base-font-size;
    height: 20px;
    padding: .5rem 0 0 .6rem;
  }
}